<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj Grę</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body class="d-flex h-100 text-center text-white bg-dark">
    <main class="cover-container d-flex w-75 h-100 p-3 mx-auto flex-column justify-content-center align-items-center">
        <%- include('nav.ejs') %>
        <div class="shadow p-3 bg-dark-secondary w-75">
            <h4 class="text-center text-danger-secondary">Dodaj nową grę</h4>
            <form method="POST" class="p-4" action='/gry/dodaj'>
                <div class="mb-3">
                    <label for="title" class="form-label">Tytuł</label>
                    <input type="text" class="form-control" id="title" name="title" required >
                </div>
                <div class="mb-3">
                    <label for="studio" class="form-label">Studio</label>
                    <input type="text" class="form-control" id="studio" name="studio" required>
                </div>
                <div class="mb-3">
                    <label for="releaseDate" class="form-label">Data premiery</label>
                    <input type="date" class="form-control" id="releaseDate" name="releaseDate" required>
                </div>
                <button type="submit" class='btn btn-outline-light'>Dodaj Grę</button>
            </form>
        </div>
    </main>
</body>
</html>